/*Debut de la navbar*/
.navbar  {
    background-color: #16a085;
    height: 80px;
    padding: 15px;

}
.brand1 .brand2{
    display:block;
    text-align:center;
}
.hr{
    width: 100%; 
    color: #D35400; 
    height: 3px; 
    background-color:#F39C12;
}
.hr1{
    width: 85%; 
    color: #2ABB9B; 
    height: 3px; 
    background-color:#2ABB9B;
}

/*Debut formulaire*/

label{
    display: inline-block;
    text-align: right;
}
.idUser{
    border:1px solid #EB9532;
    border-radius: 5px;
    text-align: center;
}
.activity{
    border: 1px solid #EB9532;
    border-radius: 5px;
    text-align: center;
}
.modal1{
   border: 1px solid #EB9532;
    border-radius: 5px;
    text-align: center; 
}
.modal2{
   border: 1px solid #D35400;
    border-radius: 10px;
    text-align: center; 
}
.present{
    border: 1px solid #EB9532;
    margin-bottom: 4px;
    border-radius: 5px;   
}
/*Fin formulaire*/
#access{
    height: 665px;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color:#bdc3c7; 
}

h2, h3, h4{
    font-size: 25px;
    text-align: center;
}
.carousel-inner>.item > img{
    width: 100%;
}
.row> p{

    text-align: center;
    font-family: Helvetica;
}
#flash{
    padding: auto;
    background-color:#e6fff2;
    display: inline-block;
    height: 350px;
}
body{
    background-color: #68C3A3;
    /*   background-image: url(../img/img.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;*/
}
/*Debut du flash info*/
#flashinfo{
    background-color: #EEEEEE;
    padding: 35px;
    font-family: 35px;
    text-align: center;
}
.back{
  font-family: serif;  
}
/*Defilement de texte*/
.back {
    background:#ccc;
    color:#000;
} 

.effet{
    animation-name: anim;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    background-color: #ECECEC;
    animation-name: anim-half;  
    animation-timing-function: steps(1,end);
}

@keyframes anim-half {
    50% {
        background-color: #f03434;
    }
}

/*Deuxieme caroussel de presentation prix
 Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
 Reposition the controls slightly 
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
 Changes the position of the indicators 
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
 Changes the colour of the indicators 
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}

/*Debut footer*/
.footer-section {
    background: #019875;
    padding: 5em 0;
    
}

.footer-column h4 {
    font-size: 2em;
    color: #fff;
    margin-bottom: .5em;
}
.footer-column p {
    font-size: .96em;
    color: #eee;
    line-height: 1.8em;
}
.footer-column ul, li, a {
    font-size: .96em;
    color: #eee;
    line-height: 1.8em;
}
/*Fin footer*/

/*.center-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
/*Debut organisation profil-transporteur*/
#profilHauliers{
    background-image: url(/assets/img/hauliersPictures/camion.jpg);
    margin:auto;
    padding-top: 175px;
    width: 500px;
    height: 315px;
    border: 2px solid #013243;    
}
.infoHauliers{
    background-color: #89C4F4;
    padding: 20px;
    margin: 25px;
    height: 100px;

}
#profilVegetableProduct{
    background-image: url(/assets/img/vegetableProduct/panier1.jpg);
    margin:auto;
    padding-top: 175px;
    width: 500px;
    height: 315px;
    border: 2px solid #013243;    
}
.infoVegetableProduct{
    background-color: #89C4F4;
    padding: 20px;
    margin: 25px;
    height: 100px; 
}
#profilTrucks{
    background-image: url(/assets/img/trucksPictures/trucks1.jpg);
    margin:auto;
    padding-top: 175px;
    width: 500px;
    height: 315px;
    border: 2px solid #013243;    
}

.infoTrucks{
    background-color: #89C4F4;
    padding: 20px;
    margin: 25px;
    height: 100px; 
}
#profilExploitations{
    background-image: url(/assets/img/exploitationsPictures/exploitations1.jpg);
    margin:auto;
    padding-top: 175px;
    width: 500px;
    height: 315px;
    border: 2px solid #013243;    
}

.infoExploitations{
    background-color: #89C4F4;
    padding: 20px;
    margin: 25px;
    height: 100px; 
}
#profilPoultryFarm{
    background-image: url(/assets/img/poultryFarm/poultry1.jpg);
    margin:auto;
    padding-top: 175px;
    width: 500px;
    height: 315px;
    border: 2px solid #013243;    
}

.infoPoultryFarm{
    background-color: #89C4F4;
    padding: 20px;
    margin: 25px;
    height: 100px; 
}

/*Debut affichage list*/
.list-number li  {
    margin-right: 5px;
    margin-left: 0px;
    top: 5px;
    display:inline-block;
    
}

.list-enquiry li  {
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom:5px;
    top: 15px;
    display:inline-block;
    
}

/*img{width:80%;}*/

.small-padding-bg {
    box-shadow: 3px 3px 5px #c2c2c2, -3px -3px 5px #c2c2c2;
}


section{
    padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

p{
    font-size:13px;
}

.ion-minus{
    padding:0px 10px;
}

#blog{
	background-color:#f6f6f6;
}

#blog .carousel-indicators {
    bottom: -60px;
}

#blog .carousel-indicators li{
    background-color: #5db4c0;
    height: 13px;
    width: 13px;
    margin: 5px;
}

#blog .carousel-indicators li.active{
    background-color: #888383;
}

#blog .card-block{
    padding: 10px;
}

#blog .card{
    background-color: #FFF;
    border: 1px solid #eceaea;
    margin: 20px 0px;
}

.btn.btn-default {
    background-color: #5db4c0;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
}
